
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
    font-family: "Roboto", sans-serif;
}

.bodyy {
    width: 1440px;
height: 6575px;
}

.headimg {
    width: 112px;
    height: 66px;
    margin: 21px 0 0 121px;
}

.globeand {
    display: flex;
}

.globe {
    width: 22px;
    height: 21px;
    margin: 97px 0 43px 121px;
}

.online {
    width: 130px;
    height: 32px;
    margin: 100px 0 29px 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
}

.saatimg {
    width: 22px;
    height: 22px;
    margin: 97px 0 43px 25px;
}

.saat {
    width: 130px;
    height: 32px;
    margin: 100px 4px 29px 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
}

.kalendarimg {
    width: 20px;
    height: 22px;
    margin: 97px 0 43px 4px;
}

.kalendar {
    width: 130px;
    height: 32px;
    margin: 100px 810px 29px 13px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
}

.onehone {
    width: 628px;
    height: 190px;
    margin: 29px 140px 0 122px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 101.38%;
}

.textone {
    width: 414px;
    height: 62px;
    margin: 0 354px 0 122px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
}

.oturanadam {
    position: absolute;
    width: 304px;
    height: 356px;
    left: 890px;
    top: 250px;
}

.goyreng {
    width: 483.63px;
    height: 200px;
    margin: 177.62px 546.98px 0 409.39px;
    background: #1e4681;
    border-radius: 5px;
}

.goytext {
    width: 430.59px;
    height: 113px;
    padding: 19.26px 27.02px 0 26.03px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    color: white;
}

.goyyazar {
    width: 280.5px;
    height: 45.64px;
    padding: 0 0 0.02px 184.61px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;

    text-align: right;

    color: #ffffff;
}

.twohone {
    width: 365px;
    height: 93px;
    margin: 173.38px 954px 0 121px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
}

.divone {
    display: flex;
}

.divtwo {
    display: flex;
}

.textwo {
    width: 662px;
    height: 374px;
    margin: 18px 190px 0 121px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
}

.duranadam {
    position: absolute;
    width: 314px;
    height: 315px;
    left: 973px;
    top: 1230px;
}

.kran {
    width: 232px;
    height: 203px;
    margin: 94px 132px 0 121px;
}

h3 {
    width: 150px;
    height: 39px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
}

.divfour,
.divfive,
.divsix {
    width: 150px;
    height: 39px;
    margin-top: 0;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
}

.stwo-text {
    margin: 164px 95px 0 132px;
}

.stwo-textt {
    margin: 164px 93px 0 0;
}

.stwo-texttt {
    margin: 164px 317px 0 0;
}

.divone,
.divtwo,
.divthree {
    margin-bottom: 0;
}

.partthree-section-flex {
    display: flex;
}

.threehone {
    width: 667px;
    height: 93px;
    margin: 178px 652px 0 121px;

    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
}

.partthree-h {
    width: 150px;
    height: 39px;
    margin-bottom: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    color: #1e4681;
}

.partthree-p {
    width: 223px;
    height: 39px;
    margin-top: 0;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
}

.partthree-heading-one {
    margin: 89px 195px 0 122px;
}

.partthree-heading-two {
    margin: 89px 170px 0 0;
}

.partthree-heading-three {
    margin: 89px 439px 0 0;
}

.partthree-hh {
    width: 214px;
    height: 39px;
    margin-bottom: 0;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;

    color: #1e4681;
}

.fourhone {
    width: 667px;
    height: 93px;
    margin: 179px 652px 0 121px;

    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
}

ul {
    width: 662px;
    height: 374px;
    margin: 21px 640px 0 138px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
}

.fivehone {
    margin: 248px 414px 0 121px;
    width: 905px;
    height: 93px;

    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
}

.partfive-sections {
    margin-left: 84px;
    display: flex;
    flex-wrap: wrap;
}

.partfive-section-one {
    width: 399px;
    height: 328px;
    margin: 95px 37px 0 0;
    background: #ffffff;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.partfive-i {
    width: 399px;
    height: 160px;
}

.partfive-h {
    width: 365px;
    height: 39px;
    padding: 0 14px 10px 20px;
    margin-top: 10px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
}

.partfive-p {
    padding: 0 15px 10px 19px;
    width: 365px;
    height: 63px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
}

.partsix {
    background: #efefef;
    width: 1440px;
    height: 780px;
}

.partsix-card {
    margin: 34px 523px 0 126px;
    width: 791px;
    height: 451px;

    background: #ffffff;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.partsix-card-in {
    display: flex;
}

.sixhone {
    padding-top: 90px;
    margin: 212px 331px 0 122px;
    width: 987px;
    height: 93px;

    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
}

.partsix-p {
    width: 700px;
    height: 203px;
    padding: 40px 46px 0 45px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
}

.partsix-i {
    width: 190px;
    height: 169px;
    padding: 10px 30px 0 26px;
}

.partsix-htwo {
    width: 353px;
    height: 59px;
    padding: 0 192px 0 0;

    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 101.38%;
}

.partsix-fb {
    width: 32px;
    height: 31px;
    padding: 0 513px 100px 246px;
    margin-top: -100px;
}

.partseven {
    width: 1440px;
    height: 780px;

    background: #9dc9c8;
}

.sevenhone {
    width: 908px;
    height: 66px;
    margin-top: 0px;
    padding: 179px 410px 0 122px;

    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
}

.partseven-price {
    width: 170px;
    height: 32px;
    margin: 54px 1148px 0 122px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 101.38%;
}

.partseven-money {
    width: 481px;
    height: 181px;
    margin: 0 837px 0 122px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 101.38%;
}

.partseven-card-in {
    display: flex;
}

.partseven-h {
    width: 294px;
    height: 32px;
    margin: 0 70px 9px 122px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 101.38%;
}

.partseven-p {
    width: 294px;
    height: 70px;
    margin: 0 70px 185px 122px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 101.38%;
}

.partseven-hh {
    width: 322px;
    height: 32px;
    margin: 0 632px 9px 0;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 101.38%;
}

.partseven-pp {
    width: 294px;
    height: 70px;
    margin: 0 660px 185px 0;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 101.38%;
}

footer {
    width: 1440px;
    height: 390px;
    background: black;
}

.foothead {
    width: 115px;
    height: 68px;
    padding: 50px 1203px 0 122px;
}

.social {
    display: flex;
}

.mini {
    width: 33px;
    height: 33px;
    margin: 30px -100px 0 122px;
}

.foot {
    width: 230px;
    height: 40px;
    margin: 146px 1088px 23px 122px;
    color: #ffffff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 101.38%;
}

.call,
.letter {
    display: flex;
}

.phone {
    width: 27px;
    height: 27px;
    margin: 54px 22px 0 0;
}

.number {
    width: 230px;
    height: 40px;
    margin: 59px 185px 0 0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 101.38%;
    color: white;
}

.let {
    width: 27px;
    height: 18px;
    margin: 0 22px 266px 0;
}

.mail {
    width: 269px;
    height: 40px;
    margin: 0 146px 248px 0;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 101.38%;
}

.rightfoot {
    display: block;
    width: 600px;
    position: relative;
    bottom: 400px;
    left: 976px;
}
@media (min-width: 992px) {
    @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
    font-family: "Roboto", sans-serif;
}

.bodyy {
    width: 834px;
height: 3800px;
}

.headimg {
    width: 64.87px;
    height: 38.23px;
    margin: 22px 0 0 70.08px;
}

.globeand {
    display: flex;
}

.globe {
    width: 12.74px;
height: 12.16px;
    margin: 56.18px 0 15.64px 70.08px;
}

.online {
    margin: 57.92px 0 7.53px 4.63px;
    width: 75.29px;
height: 18.53px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 115%;
}

.saatimg {
    width: 12.74px;
height: 12.74px;
    margin: 56.18px 0 15.64px 14.48px;
}

.saat {
    margin: 57.92px 1px 7.53px 5.79px;
    width: 75.29px;
height: 18.53px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 115%;
}

.kalendarimg {
    width: 11.58px;
    height: 12.74px;
    margin: 56.18px 0 15.64px 4px;
}

.kalendar {
    margin: 57.92px 469.13px 7.53px 7.53px;
    width: 75.29px;
height: 18.53px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 115%;
}

.onehone {
    margin: 7.53px 81.08px 0 70.66px;
    width: 363.72px;
    height: 110.04px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 101.38%;
}

.textone {
    margin: 0 180.46px 0 70px;
    width: 264px;
    height: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
}

.oturanadam {
    position: absolute;
width: 176.07px;
height: 206.18px;
left: 515.46px;
top: 138.99px;
}

.goyreng {
    margin: 102.92px 316.79px 0 237.1px;
    width: 280.11px;
height: 115.83px;
background: #1E4681;
border-radius: 2.89583px;
}

.goytext {
    padding: 11.15px 15.65px 0 15.08px;
    width: 249.38px;
    height: 65.45px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #FFFFFF;
}

.goyyazar {
    padding: 0 0 4.02px 108.22px;
    width: 162.46px;
    height: 26.43px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    text-align: right;
    color: #FFFFFF;}

.twohone {
    margin: 100.41px 552.53px 0 70.08px;
    width: 211.4px;
    height: 53.86px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 101.38%;
}

.divone {
    display: flex;
}

.divtwo {
    display: flex;
}

.textwo {
    margin: 10.42px 110.04px 0 70.08px;
    width: 383.41px;
height: 216.61px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
}

.duranadam {
    position: absolute;
    width: 181.86px;
    height: 182.44px;
    left: 563.53px;
    top: 690.36px;
}

.kran {
    width: 134.37px;
height: 117.57px;
    margin: 54.44px 76.45px 0 70.08px;
}

h3 {
    width: 86.88px;
height: 22.59px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 130%;
}

.divfour,
.divfive,
.divsix {
    margin-top: 0;
    width: 86.88px;
height: 22.59px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 130%;
}

.stwo-text {
    margin: 94.98px 55.02px 0 76.45px;
}

.stwo-textt {
    margin: 94.98px 53.86px 0 0;
}

.stwo-texttt {
    margin: 94.98px 183.6px 0 0;
}

.divone,
.divtwo,
.divthree {
    margin-bottom: 0;
}

.partthree-section-flex {
    display: flex;
}

.threehone {
    margin: 103.09px 377.62px 0 70.08px;
    width: 386.3px;
    height: 53.86px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 101.38%;
}

.partthree-h {
    margin-bottom: 0;
    width: 86.88px;
height: 22.59px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 130%;
color: #1E4681;
}

.partthree-p {
    margin-top: 0;
    width: 153px;
    height: 22px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 130%;
}

.partthree-heading-one {
    margin: 51.55px 112.94px 0 70.66px;
}

.partthree-heading-two {
    margin: 51.55px 98.46px 0 0;
}

.partthree-heading-three {
    margin: 51.55px 254.25px 0 0;
}

.partthree-hh {
    margin-bottom: 0;
    width: 123.94px;
    height: 22.59px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 130%;
    color: #1E4681;
}

.fourhone {
    margin: 103.55px 377.62px 0 70.08px;
    width: 386.3px;
    height: 53.86px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 101.38%;
}

ul {
    margin: 12.16px 370.67px 0 79.92px;
    width: 383.41px;
    height: 216.61px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    }

.fivehone {
    margin: 143.63px 239.78px 0 70.08px;
    width: 524.15px;
    height: 53.86px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 101.38%;
}

.partfive-sections {
    margin-left: 48.65px;
    display: flex;
    flex-wrap: wrap;
}

.partfive-section-one {
    margin: 55.02px 21.43px 0 0;
    width: 231.09px;
height: 189.97px;
background: #FFFFFF;
box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.25);
border-radius: 17.375px;}

.partfive-i {
    width: 231.09px;
height: 92.67px;
}

.partfive-h {
    padding: 0 8.11px 10px 11.58px;
    margin-top: 10px;
    width: 211.4px;
    height: 22.59px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 130%;
}

.partfive-p {
    padding: 0 8.69px 10px 11px;
    width: 211.4px;
    height: 36.49px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
}

.partsix {
    width: 834px;
height: 451.75px;
background: #EFEFEF;
}

.partsix-card {
    margin: 19.69px 302.9px 0 72.97px;
    width: 458.12px;
    height: 261.2px;
    background: #FFFFFF;
    box-shadow: 0.579167px 0.579167px 11.5833px rgba(0, 0, 0, 0.25);
    border-radius: 17.375px;
}

.partsix-card-in {
    display: flex;
}

.sixhone {
    padding-top: 52.7px;
    margin: 105.3px 191.7px 0 70.66px;
    width: 571.64px;
height: 53.86px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 101.38%;
}

.partsix-p {
    padding: 23.17px 26.64px 0 26.06px;
    width: 405.42px;
    height: 117.57px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
}

.partsix-i {
    width: 110.04px;
height: 97.88px;
    padding: 5.79px 17.38px 0 15.06px;
}

.partsix-htwo {
    padding: 0 111.2px 0 0;
    width: 204.45px;
height: 34.17px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 101.38%;
}

.partsix-fb {
    width: 18.53px;
height: 17.95px;
    padding: 0 297.11px 50.38px 142.48px;
    margin-top: -100px;
}

.partseven {
    width: 834px;
    height: 451.75px;
    background: #9DC9C8;
}

.sevenhone {
    margin-top: 0px;
    padding: 103.67px 237.46px 0 70.66px;
    width: 525.88px;
    height: 38.23px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 101.38%;
}

.partseven-price {
   
    margin: 31.27px 664.88px 0 70.66px;
    width: 98.46px;
    height: 18.53px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 101.38%;
}

.partseven-money {
    margin: 0 484.76px 0 70.66px;
    width: 278.58px;
    height: 104.83px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 101.38%;
}

.partseven-card-in {
    display: flex;
}

.partseven-h {
    margin: 0 40.54px 5.21px 70.66px;
    width: 170.28px;
    height: 18.53px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 101.38%;
}

.partseven-p {

    margin: 0 40.54px 107.15px 70.66px;
    width: 170.28px;
    height: 40.54px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 101.38%;
}

.partseven-hh {
    margin: 0 366.03px 5.21px 0;
    width: 186.49px;
    height: 18.53px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 101.38%;}

.partseven-pp {
    margin: 0 382.25px 107.15px 0;
    width: 170.28px;
    height: 40.54px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 101.38%;
}

footer {
    width: 834px;
    height: 225.88px;
    background: #000000;
}

.foothead {
    width: 66.6px;
    height: 39.38px;
    padding: 28.96px 696.74px 0 70.66px;
}

.social {
    display: flex;
}

.mini {
    width: 19.11px;
    height: 19.11px;
    margin: 17.38px -50px 0 70.66px;
}

.foot {
    margin: 84.56px 630.13px 13.32px 70.66px;
    width: 133.21px;
    height: 23.17px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 101.38%;
    color: #FFFFFF;
}

.call,
.letter {
    display: flex;
}

.phone {
    width: 15.64px;
    height: 15.64px;
    margin: 31.28px 12.74px 0 0;
}

.number {
    margin: 34.17px 107.15px 0 0;
    width: 133.21px;
    height: 23.17px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 101.38%;
    color: white;
    
}

.let {
    width: 15.64px;
    height: 10.43px;
    margin: 0 12.74px 154.06px 0;
}

.mail {
    margin: 0 84.56px 143.63px 0;
    width: 155.8px;
    height: 23.17px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 101.38%;
    color: white;
}

.rightfoot {
    display: block;
    width: 600px;
    position: relative;
    bottom: 230px;
    left: 576px;
}
    
  }

  @media (min-width: 320px){


  }
   